
bin/Debug/net7.0/PasswordTask.deps.json
bin/Debug/net7.0/PasswordTask.dll
bin/Debug/net7.0/PasswordTask.exe
bin/Debug/net7.0/PasswordTask.pdb
bin/Debug/net7.0/PasswordTask.runtimeconfig.json
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/PasswordTask.AssemblyInfo.cs
obj/Debug/net7.0/PasswordTask.AssemblyInfoInputs.cache
obj/Debug/net7.0/PasswordTask.assets.cache
obj/Debug/net7.0/PasswordTask.csproj.AssemblyReference.cache
obj/Debug/net7.0/PasswordTask.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/PasswordTask.csproj.FileListAbsolute.txt
obj/Debug/net7.0/PasswordTask.dll
obj/Debug/net7.0/PasswordTask.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/PasswordTask.genruntimeconfig.cache
obj/Debug/net7.0/PasswordTask.GlobalUsings.g.cs
obj/Debug/net7.0/PasswordTask.pdb
obj/Debug/net7.0/ref/PasswordTask.dll
obj/Debug/net7.0/refint/PasswordTask.dll
obj/PasswordTask.csproj.nuget.dgspec.json
obj/PasswordTask.csproj.nuget.g.props
obj/PasswordTask.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
